body {
  font-family: sans-serif;
  background-color: #fafafa;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  box-sizing: border-box;
  align-content: top;
}

a {
  text-decoration: none;
}
img {
  vertical-align: text-top;
}
.container {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
  font-size: 14px;
}

.box {
  max-width: 350px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffff;
  border: 1px solid #e6e6e6;
  border-radius: 1px;
  margin: 0 0 10px;
  padding: 10px 0;
  flex-grow: 1;
}

.heading {
  width: 200px;
  margin: 10px auto;
}

.field {
  margin: 20px 0;
  position: relative;
  font-size: 14px;
  width: 100%;
  text-overflow: ellipsis;
}

input {
  padding: 9px 0px 7px 9px;
  font-size: 12px;
  width: 16rem;
  height: 25px;
  outline: none;
  background: #fafafa;
  border-radius: 3px;
  border: 1px solid #efefef;
}

/* label intial position*/

label {
  position: absolute;
  pointer-events: none;
  left: 10px;
  padding-bottom: 15px;
  transform: translateY(10px);
  line-height: 6px;
  transition: all ease-out 0.1s;
  font-size: 14px;
  color: #999;
  padding-top: 6px;
}

/* hiding placeholder in all browsers */

input::placeholder {
  visibility: hidden;
}

/* hiding  placeholder in mozilla */
.login-form ::-moz-placeholder {
  color: transparent;
}

/* label final position */
input:not(:placeholder-shown) + label {
  transform: translateY(0);
  font-size: 11px;
}

/* input padding increases if placeholder is not shown */
input:not(:placeholder-shown) {
  padding-top: 14px;
  padding-bottom: 2px;
}

.login-button {
  text-align: center;
  width: 100%;
  padding: 0.5rem;
  border: 1px solid transparent;
  background-color: #3897f0;
  color: #fff;
  font-weight: 600;
  border-radius: 7px;
  font-size: 14px;
  cursor: pointer;
}

.separator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #999;
  margin-top: 6px;
}

.separator .line {
  height: 1px;
  width: 40%;
  background-color: #dbdbdb;
}

.other {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.fb-login-btn {
  margin: 1rem;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  color: #385185;
  font-weight: 600;
  background: transparent;
}

.fb-icon {
  color: #385185;
  font-size: 1rem;
  padding-right: 1px;
}

.forgot-password {
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #003569;
}

.signup {
  color: #3897f0;
  font-weight: 600;
}

p{
  text-align: center;
}

.container1 {
  align-self: center;
  background-image: url(/rsrc.php/v3/y4/r/ItTndlZM2n2.png);
  background-position: -46px, 0;
  background-size: 468.32px 634.15px;
  flex-basis: 380.32px;
  height: 581.15px;
  margin-bottom: 12px;
  margin-right: 32px;
  
}
.footer{
  text-align: center;
  font-size: 13px;
  word-spacing: 15px;
  color: #385185;
  margin-top: 10px;
}
.copyright{
  text-align: center;
  font-size: 13px;
}
.get{
  text-align: center;
  font-size: 15px;
  margin-top: -20px;
}
.apps{
  align-items: center;
  text-align: center;
  margin-top: -20px;
}


.login-button a{
  color: #fff;
}

.facebook_img_1{
  width: 40px;
}
.login_with_facebook_div{
  display: flex;
  align-items: center;
  margin-top: -25px;
}
.login_with_facebook_div a{
  color: #3897f0;
}

.app_img{
  width: 145px;
}
.download_app{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.appStore{
  width: 165px;
}

.error_message{
  font-size: 14px;
  color: red;
  margin-top: 5px;
  display: none;
}
.error_message_fill{
  font-size: 14px;
  color: red;
  margin-top: 5px;
  display: none;
}

